{% load microblog %}
{% comment %}
Template utilizzato dal tag show_post_summary
{% endcomment %}
{% if content %}
<div class="microblog post-summary">
    <h2>
        {% if not post.is_published %}
        <span class="draft">[DRAFT]</span>
        {% endif %}
        <a title="Permalink a questo articolo" href="{{ content.get_absolute_url }}">{{ content.headline }}</a>
    </h2>
    <p class="metadata">
        <span class="blog-author-name">{{ post.author.first_name }} {{ post.author.last_name }}</span>
        {{ post.date|timesince }} |
        <a title="Commenti articolo" href="{{ content.get_absolute_url }}#last-comment">
            Commenti ({% show_post_comment_count content %})
        </a>
    </p>
</div>
{% endif %}
