{% load microblog %}
{% if content %}
<div class="microblog post-detail">
    {% trackback_rdf content %}
    <h1>
        {% if not post.is_published %}
        <span class="draft">[DRAFT]</span>
        {% endif %}
        {{ content.headline }}
    </h1>
    <div class="summary">{{ content.summary|safe }}</div>
    {% if content.body %}
    <div class="body">{{ content.body|safe }}</div>
    {% endif %}
    <p class="metadata">
        <span>Pubblicato da</span> <b>{{ post.author.first_name }}</b> il {{ post.date|date:"d F Y" }}
    </p>
    {% show_social_networks content %}
    <a name="comments"></a>
    {% show_post_comments content %}
</div>
{% endif %}
